body {
  background-color: #EAE3D9;
  background-image: url("bgimage.png");
  background-size: 1000px 700px;
  background-position: right;
  background-repeat: no-repeat;
}


.grid-container {
  display: inline-grid;
}

.header {
  text-align: center;
  color: #954229;
  font-size: 30px;
  font-family: "Avenir";
  letter-spacing: 9px;
  font-weight: 400;
  padding-top: 20px;
}

a{
  text-decoration: none;
  color: inherit;
}

.bagitem{
  position: relative;
}
#no{
  display: none;
  position: absolute;
  left: 25px;
  top: -3px;


}

.topnav {
	/*float: left;*/
  width: 100%;
	font-family: "Avenir";
	color: #BE6E41;
}
.topnav ul{
  margin-left: 38%;
}

.hoverbuns:hover {
  color: #954229;
}

.imagebun {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: 20px 20px #BE6E41;
}

.container {
  position: relative;
  text-align: center;
  color: #954229;
  font-family: "Avenir";
  font-style: italic;
  letter-spacing: 3px;
}

.textoverimage {
  position: absolute;
  top: 39px;
  left: 250px;
  font-size: 20px;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 600px;
  height: 400px;
  background-color: #D7BEA2;
  opacity: 0.9;
  border-radius: 6px;
  padding: 20px;
  padding-left: 120px;
}

ul li {
  display: inline-block;
  font-family: "Avenir";
  letter-spacing: 2px;
}

ul li a {
  padding: 10px 10px;
}

.logo img{
  float: left;
  width: 80px;
  height: auto;
}

.bag {
  width: 25px;
  height: auto;
}

.content {
  float: right ;
  width: 80% ;
}
.navbar {
  float: right;
  width: 20%;
}

.bunflavors {
  padding-left: 100px;
  padding-top: 10px;
  font-family: "Avenir";
  font-size: 20px;
  letter-spacing: 3px;
  color: #954229;
  font-weight: bold;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr;
  padding-top: 40px;
  padding-left: 100px;
  padding-right: 60px;
  grid-gap: 80px 10px;
  font-family: "Avenir";
  color: #69392B;
  font-size: 20px;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr;
}

.select {
  background-color: transparent;
  padding-top: 40px;
  height: 40px;
  width: 60px;
  text-align: center;
  border-color: #BE6E41;
  border-width: 1.5px;
  margin-top:10px;
}

.select2 {
  background-color: transparent;
  display:block;
  padding: 16px;
  height: 40px;
  width: 120px;
  text-align: center;
  border-color: #BE6E41;
  border-width: 1.5px;
  margin-top: 10px;
}

.caramelpecan:hover {
  color: #BE6E41;
}

.smallbunbun {
  width: 65px;
  height: auto;
}

.amt {
  width: 70px;
  height: auto;
}

.glaze {
  width: 100px;
  height: auto;
}

.addToBag {
  padding-top: 20px;
  padding-right: 65px;
  width: 250px;
  height: auto;
  position: absolute;
  right: 0px;
}

.bigbun {
  width: 120px;
  height: auto;
  padding-left:20px;
  padding-top: 20px;
}

.caramel {
  font-family: Avenir;
  font-size: 30px;
  color: #51361D;
}

.addBag {
  background-color: #BE6E41; 
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
  margin-right: 60px;
  margin-top:40px;
  font-family: Avenir;
}

.addBag:hover {
  background-color: #BE6E41; 
  color: #69392B;
}

.bag:hover {
  content: url('darkbrownbag.png')
}

.boxed {
  border: 1px solid brown;
  border-radius: 25px;
  background-color: rgb(215,190,162,50%);
  padding: 30px;
  padding-bottom: 160px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
}

.productshopping {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr;
  padding-top: 40px;
  padding-left: 100px;
  padding-right: 60px;
  grid-gap: 80px 10px;
  font-family: "Avenir";
  color: #69392B;
  font-size: 20px;
}

.finalprice {
  margin-left: 200px;
}


.x {
  background-color: transparent; 
  border: none;
  color: #69392B;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin-right: 60px;
}

.total {
  font-family: Avenir;
  color: #69392B;
  float: right;
  padding-right: 60px;
  padding-bottom: 30px;
  padding-top: 30px;
  display: inline-block;
  font-size:20px;
}

.checkout {
  background-color: #BE6E41; 
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top:80px;
  margin-left: 400px;
  margin-right: -140px;
  margin-bottom: 20px;
  float: right;
  position: relative;
  font-family: Avenir;
  font-size: 15px;
}

.x2 {
  background-color: transparent; 
  border: none;
  color: #69392B;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  float: right;
}

.x2:hover {
  color: #BE6E41;
}

.flavor:hover {
  color: #BE6E41;
}

.label {
  display:inline-block;
  font-family: Avenir;
  color: #69392B;
  font-size: 16px;
  padding: 20px;
  padding-left: 20px;
  margin-left: 30px;
  padding-bottom: -20px;
  margin-bottom: -20px;
}

.biglabel {
  margin-left: 260px;
}

.line {
  margin-left: 310px;
  color: #69392B;

}